<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template 1</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="temp1.css">
</head>
<body>
    <div class="resume">
    <h1 style="text-align: center;">Fill your details</h1>
    <form class="input-fields">
        Name: <input type="text" name="name" placeholder="fullname"/><br>
        Address: <textarea name="Address" placeholder="city,state,pincode" ></textarea><br>
        Contactno.: <input type="number" name="number" placeholder="mobile no."><br>
        E-mail: <input type="email" name="email" placeholder="abc@gmail.com"><br>
        Career objective: <textarea name="objective" placeholder="objective"></textarea>
        Professional experience: <textarea name="workexp" placeholder="work experience" ></textarea>
        Academic Qualifications: <textarea name="academics" placeholder="academic details"></textarea>
        Skills: <textarea name="skills" placeholder="skills"></textarea><br>
        <br><br>
        personal details:<br>
            father's name: <input type="text" name="father's name"><br>
            date of birth: <input type="date" name="dob"><br>
            nationality: <input type="text" name="nationality"><br>
            Gender: <input type="text" name="gender">
    </form>
    <div class="output">
    </div>
    <div class="btn">
        <button onclick="toggle()">Check</button>
    </div>
</div>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script src="temp1.js"></script>
</body>
</html>